body{
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #f5f7fa;
    color: #333;
}

/* NAVBAR */
nav{
    background: #0d1b2a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo{
    font-weight: bold;
    font-size: 18px;
}

.menu a{
    color: #e0e1dd;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.menu a:hover{
    color: #00b4d8;
}

/* CONTENT */
.container{
    text-align: center;
    padding: 60px 20px;
}

h1{
    margin-bottom: 5px;
}

.subtitle{
    color: #6c757d;
    margin-bottom: 30px;
}

img{
    width: 180px;
    border-radius: 50%;
    margin: 20px 0;
    border: 4px solid #2a0d19;
}

p{
    max-width: 600px;
    margin: auto;
    line-height: 1.7;
}

/* FOOTER */
footer{
    background: #2a0d1f;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}